<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-gruop" autocomplete="off" method="POST" action="/user/update/cred">
    <label class="lead" for id="rwo">Password</label><br>
    <input   class="form-control" id="rwo" type="password" name="pass" required="required"><br>
    <label class="lead" for id="rwo">Confirm Password</label><br>
    <input   class="form-control" id="rwo" type="password" name="pass2" required="required"><br>
    <button>Submit</button>
</form>
</body>
</html>