<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div align="center">
        <h1 class="display-4">Email Verification</h1>
        <div class="row" style="margin:0 5%;">
        <div class="col-lg-3 col-sm-10 border border-primary rounded" style="margin:0 3%;" align="center">
<form class="form-gruop" autocomplete="off" method="POST" action="/user/register/verify">
<p class="lead text-muted">A unique token has been sent to your registerd email..please copy paste the code below..</p>
    <label class="lead" for id="one">Enter Unique Token</label><br>
    <input  class="form-control" id="one" type="text" placeholder="Token.." name="tokken"><br>
    
    <button class="btn btn-primary">Verify</button><br>
   
</form>
</div></div>
</body>
</html>
